<div class="md:flex">
  <div class="md:flex-none md:fixed md:left-0 md:top-0 md:h-screen md:w-64">
      <app-navigation></app-navigation>
  </div>
  <div class="md:flex-1 md:ml-64">
    <ng-container *ngIf="isLoading$ | async as isLoading; else loadingComplete">
      <app-header [title]="title"></app-header>
    </ng-container>
    <ng-template #loadingComplete>
      <app-header [title]="title"></app-header>
      <app-main>
        <ng-container *ngIf="entityType | async as entityType;">
          <ng-container *ngIf="entityType.id; else create;">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="Элементы справочника">
                <div class="py-5">
                  <app-entity-items [entityTypeId]="entityType.id"></app-entity-items>
                </div>
              </mat-tab>
              <mat-tab label="Настройка справочника">
                <div class="py-5">
                  <app-entity-type-form-update [entityType]="entityType"></app-entity-type-form-update>
                </div>
              </mat-tab>
            </mat-tab-group>
          </ng-container>
          <ng-template #create>
            <app-entity-type-form-create></app-entity-type-form-create>
          </ng-template>
        </ng-container>
      </app-main>
    </ng-template>
  </div>
</div>