<div class="md:flex">
  <div class="md:flex-none md:fixed md:left-0 md:top-0 md:h-screen md:w-64">
      <app-navigation></app-navigation>
  </div>
  <div class="md:flex-1 md:ml-64">
      <app-header [title]="'Профайл'"></app-header>
      <app-main *ngIf="profile$ | async as profile">
        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Персональная информация</h3>
                <p class="mt-1 text-sm text-gray-600"></p>
              </div>
            </div>
            <div class="mt-5 md:col-span-2 md:mt-0">
              <app-profile-form [profile]="profile"></app-profile-form>
            </div>
          </div>
        </div>
      </app-main>
  </div>
</div>